
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have sucessfully sign Up!</p>
    
   
  </body>

   <body>
    <p>You have sucessfully sign Up!</p>

    <br>
    <p>Welcome <%= @member.name %> to the Prophetic Event website, where evangelism is at your fingertips. This platform is designed to facilitate all church duties online. Through this platform, you will be able to:</p>
    <br>
    <p>-Donate offerings and thanksgiving</p>
    <p>-Join live video streaming hosted by your Church leader</p>
    <p>-Schedule a one on one appointment with your pastor</p>
    <br>
    <p>
    Log back in to view the full potential of the website
    </p>
  </body>
</html>