
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>


   <body>
    <p>You have sucessfully sign Up!</p>

    <br>
    <p>Welcome <%= @admin.username %> to the Prophetic Event website, where evangelism is at your fingertips. This platform is designed to facilitate all church duties online. Through this platform, you will be able to:</p>
    <br>
    <p>-Monitor your church members</p>
    <p>-Host a Live streaming video Session</p>
    <p>-Receive appointments from your church members</p>
    <br>
    <p>
    Log back in to view the full potential of the website
    </p>
  </body>
</html>